body{
    background-color: bisque;
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
}
.flex{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    min-height: 70vh;
    
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
